$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

@mixin border-radius ($radius: 5px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}


body {
    padding-top: 25px;
}

h1 {
}

span.file-location {
    color: #BDBDBD;
}

.memberdef {
    position: relative;
    border-width: 2px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    box-shadow: 0px 2px 5px #CCC;

    @include border-radius(5);

    margin: 5px;
    padding: 5px;

    h3 {
        margin-top: 0px;
        padding-top: 3px;
        font-size: 20px;
        line-height: normal;
    }
}

table.compound-view tr {
    margin: 4px;

    td {
        font-size: 11px;
    }

    a {
        transition: background-color 0.1s;
        -webkit-transition: background-color 0.1s;

        display: block;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: #FFF;
        height: 60px;

        background-color: #EEE;
        text-align: center;
        padding: 5px;
        color: #222;

        b {
            color: #0D5484;
        }
    }

    a:hover {
        text-decoration: none;
        background-color: #DDD;
    }
}

img {
    border-radius: 5px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    max-height: 800px;
    display: block;
}

code {
    display: block;
    white-space: pre;
}

/** Needs a bit of resetting since it can turn out basically anywhere in the DOM */
.tooltip {
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    line-height: normal;
    white-space: normal;
    font-family: Hevetica, Arial, Sans-serif;
    text-shadow: none;

    p {
        display: inline;
        margin: 0px;
    }
}

.label {
    margin-right: 2px;
    margin-left: 2px;
}

.empty-section {
    font-size: 0.9em;
    color: #BBB;
}

.compound-kind {
    color: #888;
}

.simplesect {
    border-style: solid;
    border-width: 0px 0px 0px 4px;
    padding-left: 5px;

    h3 {
        font-size: 16px;
        line-height: normal;
        margin-top: 2px;

        margin-bottom: 3px;
    }

    > p {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 14px;
    }
}

.simplesect-return                          { border-color: #505050; }
.simplesect-author, .simplesect-authors     { border-color: #0BAA0B; }
.simplesect-version                         { border-color: #0BAA0B; }
.simplesect-since                           { border-color: #D48B0D; }
.simplesect-date                            { border-color: #505050; }
.simplesect-note                            { border-color: #15458C; }
.simplesect-warning                         { border-color: #D40D0D; }
.simplesect-pre                             { border-color: #505050; }
.simplesect-post                            { border-color: #505050; }
.simplesect-copyright                       { border-color: #505050; }
.simplesect-invariant                       { border-color: #505050; }
.simplesect-remark                          { border-color: #15458C; }
.simplesect-attention                       { border-color: #D48B0D; }
.simplesect-par                             { border-color: #505050; }
.simplesect-rcs                             { border-color: #505050; }
.simplesect-see                             { border-color: #0BAA0B; }

// xrefsects
.simplesect-deprecated                      { border-color: #303030; }

.member-list {
    .member-list-name {
        color: #337ab7;
        font-family: monospace;
    }
}

.member-prot {
    white-space: nowrap;
}

.member-list-item-header {
    padding-top: 5px;
    padding-bottom: 1px;

    p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.member-list-item-header:focus, .member-list-item-header:hover {
    background-color: rgba(0,0,0,0.05)
}

table.member-list-section {

    td {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }

    .member-desc {
        width: 100%;
    }

    .member-desc, .member-name, .member-type {
        font-size: 0.9em;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    a, p, span {
        -webkit-margin-after: 0px;
        line-height: 1.5em;
        vertical-align: center;
    }
}

.member-detailed {
    background: #EEE;
}

.member-params-detail {
    margin-left: 30px;
    margin-top: 5px;

    td, th {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        vertical-align: top;

        p {
            margin: 0 0 5px;
        }
    }

    .param-name {
        color: #000;
        font-weight: bold;
    }
}

.member-side-prot {
    

}

.protection {
    display: inline;
    padding: .4em .6em .0em .6em;
    margin-right: .2em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .3em;
    background-color: #fc20e6;
}

.member-side-prot {
    margin: 5px 5px 5px 0px;
}

@media (min-width: $screen-sm-min + 140px) {
    .member-side-prot {
        margin: 0px;
        position: absolute;
        left: -75px;
        width: 70px;
        text-align: right;

        span {
            margin-bottom: 3px;
        }
        //width: 100px;
    }
}

.member-side-prot {
    line-height: 50%;

    .protection {
        display: inline-block;
        padding: .4em .6em .4em .6em;
    }
}

.deprecated {
    text-decoration: line-through;
    text-decoration-color: #555;
}

.protection-public {
    background-color: #5cb85c;
}

.protection-private {
    background-color: #666666;
}

.protection-protected {
    background-color: #c1c1c1;
}

.protection-package {
    background-color: #7f3b2c;
}

.protection-abstract {
    background-color: #865add;
}

.protection-readonly {
    background-color: #f0ad4e;
}

.protection-static {
    background-color: #5bc0de;
}

a:focus {
    outline: none;
}

.member-list {
    list-style-type: none;
    padding-left: 0px;

    ul {
        list-style-type: none;
        padding-left: 0px;
    }
}

.member-depth-1 {
    padding-left: 32px;
}

.member-depth-2 {
    padding-left: 52px;
}

.member-depth-3 {
    padding-left: 72px;
}

.member-depth-4 {
    padding-left: 92px;
}

.member-depth-5 {
    padding-left: 112px;
}

.member-depth-6, .member-depth-7, .member-depth-8 {
    padding-left: 132px;
}