# import "helpers/member_helpers.html" as helpers

# macro member_brief_protection(member, bootstrap_protection)
	<div class="col-md-1 col-xs-2 member-prot">
	    # if bootstrap_protection
	        <span class="protection protection-{{member.protection}}"> </span>
	        ## {{ member.protection|title }}
	        # if member.static:
	            <span class="protection protection-static"> </span>
	        # endif
	        # if member.abstract:
	            <span class="protection protection-abstract"> </span>
	        # endif
	        # if member.readonly:
	            <span class="protection protection-readonly"> </span>
	        # endif

	    # else
	        <span>{{ member.protection|title }}</span> {% if member.readonly %}<span> Readonly</span>{% endif %}{% if member.static%}<span> Static</span>{%endif%}
	    # endif
	    </div>

	    ## <div class="col-md-2 col-xs-4 member-list-type" style="font-family: monospace;">{{ member.type|linked_text }}</div>
	    <div class="col-md-5 col-xs-10 member-list-name" style="font-family: monospace;">
	    {{ member.name }}
	    # if member.hasparams
	        <span style="color: #5b5b5b;">{{ helpers.paramlist(member, false) }}</span>
	    # endif
    </div>
# endmacro