# macro heading(member)
	<h3>
	<span>
	{{ member.protection.title() }} {{ "readonly" if member.protection.readonly else "" }}
    # if member.protection.static
        static
    # endif
    </span>

    ## These kinds of members have a () list
    # if member.kind == "function"
        <span "class"="member-type">
        {{ member.type|linked_text }}
        </span>
    # endif

    <span "class": "member-name">{{member.name}}</span>

    # if member.params
        <span "class"="member-params">
        (
        # for param in member.params
            {{ param.type|linked_text }}

            # if param.description
                tooltip = description(param.description)
                <span "data-original-title"={{ param.description|description_no_links }}>
                param.name
                </span>
            # else
                param.name
            # endif

            # if not loop.last
                ,
            # endif
        # endfor
        )
        </span>
    # endif
    </h3>
# endmacro

# macro member_parameter_name(param):
    # if param.description
        <span "data-original-title": {{ param.description|description_no_links }}>
        {{ param.name }}
        </span>
    # else
        {{ param.name }}
    # endif
# endmacro
