# import "helpers/member_helpers.html" as helpers

# macro member_brief_protection(member, bootstrap_protection, link, show_protection, force_single_line, depth=0, override_name=none, param_list_types=false)
    # if member.kind != "namespace" and member.kind != "group" and member.kind != "special" and show_protection
        <div class="col-md-1 col-xs-2 member-prot">
            # if bootstrap_protection
                <span class="protection protection-{{member.protection}}"> </span>
                # if member.static:
                    <span class="protection protection-static"> </span>
                # endif
                # if member.abstract:
                    <span class="protection protection-abstract"> </span>
                # endif
                # if member.readonly:
                    <span class="protection protection-readonly"> </span>
                # endif

            # else
                <span>{{ member.protection|title }}</span> {% if member.readonly %}<span> Readonly</span>{% endif %}{% if member.static%}<span> Static</span>{%endif%}
            # endif
        </div>
        # if force_single_line
            # set colsmn = 5
        # else
            # set colsmn = 11
        # endif
        # set colsmx = 10
    # else
        # if force_single_line
            # set colsmn = 6
        # else
            # set colsmn = 11
        # endif
        # set colsmx = 12
    # endif

    <div class="col-md-{{ colsmn }} col-xs-{{ colsmx }} member-brief {% if member.deprecated %}deprecated{% endif %} member-depth-{{ depth }}">
        <span class="member-name">
            # if link
                {{ member|ref_explicit(override_name or member.name_with_generics, "") }}
            # else
                {{ override_name or member.name_with_generics|e }}
            # endif
        </span>
        # if member.kind == "function_overloads"
            <span class="member-paramlist">({{ member.argsstring }})</span>
        # elif member.hasparams
            <span class="member-paramlist">{{ helpers.paramlist(member, param_list_types) }}</span>
        # endif
    </div>
# endmacro