# extends "main.html"
# import "helpers/member_helpers.html" as helpers
# from "helpers/member_brief.html" import member_brief_protection
# from "helpers/member_detailed.html" import member_detailed_row

# set bootstrap_protection = True

# macro class_header(entity)
    {{ helpers.breadcrumb(entity) }}
    <h1>
    <small>{{ entity.kind|title }}</small><span> {{ entity.name_with_generics|e }}</span>
    # if entity.inherits_from|length > 0:
        <small>Extends
        # set comma = joiner(", ")
        #- for e in entity.inherits_from
            {{- comma() }}
            #- if e.entity is not none
                {{- e.entity|ref_explicit(e.entity.name_with_generics, none) }}
            #- else
                {{- e.name|match_external_ref }}
            #- endif
        #- endfor
        </small>
    # endif
    </h1>

    <div class="member-side-prot">
    <span class="protection protection-{{entity.protection}}">{{ entity.protection|title }}</span>

    # if entity.static:
        <span class="protection protection-static">Static</span>
    # endif
    # if entity.abstract:
        <span class="protection protection-abstract">Abstract</span>
    # endif
    # if entity.readonly:
        <span class="protection protection-readonly">Readonly</span>
    # endif
    </div>
# endmacro

# block content
    {{ class_header(entity) }}
    {{ entity.briefdescription|description }}
    {{ entity.detaileddescription|description }}

    <div class="member-list">
        # if entity.inner_classes|length > 0
            <h2>Inner Types</h2>
            # for member in entity.inner_classes
                <div class="row member-list-item-header">
                    {{ member_brief_protection(member, true, true, true, false) }}
                    <div class="col-md-1 col-xs-2"></div>
                    <div class="col-md-11 col-xs-10 member-desc">
                    {{ member.briefdescription|description }}
                    </div>
                </div>
            # endfor
        # endif

    # set sections = layout.get_member_sections(entity, entity.all_members, state)
    # for section in sections if section[1]|length != 0

        <h2>{{ section[0] }}</h2>
        # set members = section[1]

        # for member in members
            # block member_list_item scoped
            # if member.kind == "function_overloads"
                # if member.inner_members|length == 1
                    # set member = member.inner_members[0]
                # endif
                <div class="row member-list-item-header">
                    {{ member_brief_protection(member, true, true, true, false) }}
                    <div class="col-md-1 col-xs-2"></div>
                    <div class="col-md-11 col-xs-10 member-desc">
                    {{ member.briefdescription|description }}
                    </div>
                </div>
            # else
                <div class="row member-list-item-header" onclick="$('#{{member|local_anchor}}').slideToggle(200); $('#{{member|local_anchor}}-overlay').fadeToggle(200);" style="position: relative;">
                    {{ member_brief_protection(member, true, false, true, false) }}
                    <div class="col-md-1 col-xs-2"></div>
                    <div class="col-md-11 col-xs-10 member-desc">
                    {{ member.briefdescription|description }}
                    </div>
                    <div id="{{member|local_anchor}}-overlay" class="member-top-prot">
                        <span class="protection protection-{{member.protection}}">{{ member.protection|map_protection_name|title }}</span>

                        # if member.static:
                            <span class="protection protection-static">Static</span>
                        # endif
                        # if member.abstract:
                            <span class="protection protection-abstract">Abstract</span>
                        # endif
                        # if member.readonly:
                            <span class="protection protection-readonly">Readonly</span>
                        # endif
                    </div>
                </div>
                <div class="row member-detailed" style="display: none;" id="{{ member|local_anchor }}">
                    {{ member_detailed_row(member) }}
                </div>
            # endif
            # endblock
        # endfor
    # endfor

    # if false
    # for section in sections if section[1]|length != 0
        <div class="member-sec">
            <h2>{{ section[0] }}</h2>

            # set members = section[1]
            # for member in members if not member.hidden

                # block member_item scoped

                    <div class="memberdef" id="{{ member|local_anchor }}">
                    # if bootstrap_protection
                        <div class="member-side-prot">
                        # if member.protection is not none:
                            # set labelStyle = ""
                        # endif
                        # if member.protection == "public":
                            # set labelStyle = "label-success"
                        # elif member.protection == "private":
                            # set labelStyle = "label-inverse"
                        # elif member.protection == "protected":
                            # set labelStyle = "label-warning"
                        # elif member.protection == "package":
                            # set labelStyle = "label-info"
                        # endif
                        <span class="label {{labelStyle}}">{{ member.protection|map_protection_name|title }}</span>

                        # if member.readonly:
                            <span class="label label-warning">Readonly</span>
                        # endif
                        # if member.static:
                            <span class="label label-info">Static</span>
                        # endif
                        </div>
                    #endif

                    <h3>
                        # if not bootstrap_protection
                            {% if member.protection %}{{ member.protection|map_protection_name|title }}{%endif %}
                            {% if member.readonly %}readonly{%endif%}
                            {% if member.override %}{{ member.override }}{%endif%}
                            {% if member.static %}static{%endif%}
                        # endif

                        {{ member.type|linked_text }}

                        <span class="member-name">{{ member.name_with_generics|e }}</span>

                        # if member.hasparams
                            # set delim = joiner(",")
                            <span class="member-params">
                                 (
                                 # for param in member.params
                                    {{ delim () }}
                                    {{ param.type|linked_text}}
                                    {{ helpers.member_parameter_name(param) }}
                                 # endfor
                                 )
                            </span>
                        # endif
                    </h3>
                    {{ member.briefdescription|description }}
                    {{ member.detaileddescription|description }}

                    </div>
                # endblock
            # endfor
        </div>
    # endfor
    # endif

    </div>

# endblock
