# extends "main.html"
# import "helpers/member_helpers.html" as helpers

# set bootstrap_protection = True

# block content
	<h1><span class="compound-kind">{{ entity.kind|title }}</span><span> {{ entity.name }}</span></h1>

	{{ entity.briefdescription|description }}

	{{ entity.detaileddescription|description }}

	<div class="member-list">

	# set sections = layout.get_member_sections(entity, entity.all_members)
	# for section in sections if section[1]|length != 0

		<h2>{{ section[0] }}</h2>
		# set members = section[1]

		<table class="table table-condensed table-striped member-list-section">
		# for member in members
			# block member_list_item scoped
			<tr>
				<td class="member-prot">
				# if bootstrap_protection
					# if member.protection is not none:
						# set labelStyle = ""
					# endif
					# if member.protection == "public":
						# set labelStyle = "label-success"
					# elif member.protection == "private":
						# set labelStyle = "label-inverse"
					# elif member.protection == "protected":
						# set labelStyle = "label-warning"
					# elif member.protection == "package":
						# set labelStyle = "label-info"
					# endif
					<span class="label {{labelStyle}}">{{ member.protection|title }}</span>

					# if member.readonly:
						<span class="label label-warning">Readonly</span>
					# endif
					# if member.static:
						<span class="label label-info">Static</span>
					# endif
				# else
					<span>{{ member.protection|title }}</span> {% if member.readonly %}<span> Readonly</span>{% endif %}{% if member.static%}<span> Static</span>{%endif%}
				# endif
				</td>

				<td class="member-type">{{ member.type|linked_text }}</td>
				<td class="member-name">{{ member|ref_explicit(member.name) }}</td>
				<td class="member-desc">{{ member.briefdescription|markup }}</td>
			</tr>
			# endblock
		# endfor
		</table>
	# endfor

	# for section in sections if section[1]|length != 0
		<div class="member-sec">
			<h2>{{ section[0] }}</h2>

			# set members = section[1]
			# for member in members if not member.hidden

				# block member_item scoped

					<div class="memberdef" id="{{ member.path.anchor }}">
					# if bootstrap_protection
						<div class="member-side-prot">
						# if member.protection is not none:
							# set labelStyle = ""
						# endif
						# if member.protection == "public":
							# set labelStyle = "label-success"
						# elif member.protection == "private":
							# set labelStyle = "label-inverse"
						# elif member.protection == "protected":
							# set labelStyle = "label-warning"
						# elif member.protection == "package":
							# set labelStyle = "label-info"
						# endif
						<span class="label {{labelStyle}}">{{ member.protection|title }}</span>

						# if member.readonly:
							<span class="label label-warning">Readonly</span>
						# endif
						# if member.static:
							<span class="label label-info">Static</span>
						# endif
						</div>
					#endif

					<h3>
						# if not bootstrap_protection
							{% if member.protection %}{{ member.protection|title }}{%endif %}
							{% if member.readonly %}readonly{%endif%}
							{% if member.override %}{{ member.override }}{%endif%}
							{% if member.static %}static{%endif%}
						# endif

						{{ member.type|linked_text }}

						<span class="member-name">{{ member.name }}</span>

						# if member.hasparams
							# set delim = joiner(",")
							<span class="member-params">
								 (
								 # for param in member.params
									{{ delim () }}
									{{ param.type|linked_text}}
									{{ helpers.member_parameter_name(param) }}
								 # endfor
								 )
							</span>
						# endif
					</h3>
					{{ member.briefdescription|description }}
					{{ member.detaileddescription|description }}

					</div>
				# endblock
			# endfor
		</div>
	# endfor

	</div>

# endblock
