{% extends "main.html" %}
# import "helpers/member_helpers.html" as helpers

{% block content %}
	{{ helpers.breadcrumb(entity) }}
	<h1><span class="compound-kind">{{ compound.kind|title }}</span><span> {{ compound.name|title }}</span></h1>

	{{ compound.briefdescription|description }}
	{{ compound.detaileddescription|description }}
	
	## innergroups, innerclassses, innernamespaces

	<table class="table inner-class-list table-condensed table-striped">
		# for n in compound.innergroups
			<tr>
				<td>{{ n|docobjref }}</td>
				<td>{{ n.briefdescription|description }}</td>
			</tr>
		#endfor
	</table>
	<table class="table inner-class-list table-condensed table-striped">
		# for n in compound.innerclasses
			<tr>
				<td>{{ n|docobjref }}</td>
				<td>{{ n.briefdescription|description }}</td>
			</tr>
		#endfor
	</table>
	<table class="table inner-class-list table-condensed table-striped">
		# for n in compound.innernamespaces
			<tr>
				<td>{{ n|docobjref }}</td>
				<td>{{ n.briefdescription|description }}</td>
			</tr>
		#endfor
	</table>

{% endblock %}