# import "helpers/member_helpers.html" as helpers
# from "helpers/member_brief.html" import member_brief_protection
# from "helpers/member_detailed.html" import member_detailed_row
<!-- onclick="$('#{{member|local_anchor}}-inspector').slideToggle(200); $('#{{member|local_anchor}}-inspector-overlay').fadeToggle(200); location.hash = '#{{member|local_anchor}}-inspector';" -->

<div class="inspector-field member-list">
    <div class="row member-list-item-header" data-show-target="#{{member|local_anchor}}-inspector" style="position: relative;">
        {{ member_brief_protection(member, false, false, false, true, 0, title) }}
        <div class="col-md-1 col-xs-2"></div>
        <div class="col-md-11 col-xs-10 member-desc">
        {{ member.briefdescription|description }}
        </div>
    </div>
    <div class="row member-detailed" style="display: none;" id="{{ member|local_anchor }}-inspector">
        <div class="col-md-12">
            {{ member.detaileddescription|description }}
            # set submember = primary_type
            # if submember is not none and submember.kind == "enum"
                # if submember != member
                    <p>This setting is an enum of the type {{submember|ref_entity}}</p>
                    <h4>{{submember|ref_entity}}</h4>
                    {{ submember.briefdescription|description }}
                    {{ submember.detaileddescription|description }}
                # endif

                # if submember.members|length > 0
                    <table class="member-params-detail">
                    # for m in submember.members
                        <tr>
                        <td><p class="param-name">{{ m.name }}{{ m.initializer|markup }}</p></td>
                        <td>{{ m.briefdescription|description }}
                        {{ m.detaileddescription|description }}</td>
                        </tr>
                    # endfor
                    </table>
                # endif
            # endif
            <div class="simplesect simplesect-see">
                <span class="simplesect-title">See</span>
                This setting corresponds to the member {{ member|ref_explicit(member.full_canonical_path(), "") }}
            </div>
        </div>
    </div>
</div>