<!DOCTYPE HTML>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documentation</title>
    <link rel='stylesheet' type='text/css' href='{{ relpath("resources/css/bootstrap.css") }}'>
    <link rel='stylesheet' type='text/css' href='{{ relpath("resources/css/prettify.css") }}'>
    <link rel='stylesheet' type='text/css' href='{{ relpath("resources/style.css") }}'>
</head>
    <body>
        <div class="container">
            # include "navbar.html" ignore missing
            <div class='col-md-12'>
            {% block content %}{% endblock %}
            </div>
        </div>
        <script src='{{ relpath("resources/js/jquery.js") }}'></script>
        <script src='{{ relpath("resources/js/bootstrap.min.js") }}'></script>
        <script src='{{ relpath("resources/js/prettify.js") }}'></script>
        <script src='{{ relpath("resources/docs.js") }}'></script>
        <script src='{{ relpath("resources/js/fullproof-all-debug.js") }}'></script>
    </body>
</html>
