{% extends "main.html" %}

{% block content %}
	<h1><span class="compound-kind">{{ compound.kind|title }}</span><span> {{ compound.name|title }}</span></h1>

	{{ compound.briefdescription|description }}
	{{ compound.detaileddescription|description }}

	## innergroups, innerclassses, innernamespaces

	<div class="member-list">
		<h2>Namespaces</h2>
		<table class="table inner-class-list member-list-section table-condensed table-striped">
			# for n in compound.innernamespaces
				<tr>
					<td class="member-name">{{ n|docobjref }}</td>
					<td class="member-desc">{{ n.briefdescription|description }}</td>
				</tr>
			# endfor
		</table>

		<h2>Classes</h2>
		<table class="table inner-class-list member-list-section table-condensed table-striped">
			# for n in compound.innerclasses
				<tr>
					<td class="member-name">{{ n|docobjref }}</td>
					<td class="member-desc">{{ n.briefdescription|description }}</td>
				</tr>
			# endfor
		</table>
	</div>

{% endblock %}
