{% extends "main.html" %}

{% block content %}
	<h1><small>{{ entity.kind|title }}</small><span> {{ entity.name }}</span></h1>

	{{ entity.briefdescription|description }}
	{{ entity.detaileddescription|description }}

	## innergroups, innerclassses, innernamespaces

	<div class="member-list">
		<h2>Namespaces</h2>
		<table class="table inner-class-list member-list-section table-condensed table-striped">
			# for n in entity.innernamespaces
				<tr>
					<td class="member-name">{{ n|ref_explicit(n.name, "") }}</td>
					<td class="member-desc">{{ n.briefdescription|description }}</td>
				</tr>
			# endfor
		</table>

		<h2>Classes</h2>
		<table class="table inner-class-list member-list-section table-condensed table-striped">
			# for n in entity.innerclasses
				<tr>
					<td class="member-name">{{ n|ref_explicit(n.name, "") }}</td>
					<td class="member-desc">{{ n.briefdescription|description }}</td>
				</tr>
			# endfor
		</table>
	</div>

{% endblock %}
