<div class="sidebar-package-header">
    <a class="sidebar-brand" href="{{ relpath('index.html') }}">{{ settings.title }}</a>
    <span class="package-version">{{ settings.version }}</span>
</div>
<form id="searchform" class="navbar-form">
    <input type="text" autocomplete="off" id="searchfield" class="form-control" placeholder="Search">
</form>
<ul id="search-dropdown" class="dropdown-menu search-dropdown-align">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
</ul>